html {
  font-family: -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#overview {
  padding: 12rem 0 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 46%), rgba(0, 0, 0, 49%)),
    url("../images/banner.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

#overview h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #0d6efd;
  margin: 0 0 4.5rem 0;
  padding: 0;
}

#overview p {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 1.75rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #overview {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 1280px) {
  #overview {
    padding: 10rem 2rem 8rem 2rem;
  }
}

@media screen and (max-width: 980px) {
  #overview {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 736px) {
  #overview {
    padding: 8rem 1.5rem 6rem 1.5rem;
  }

  #overview h1 {
    font-size: 2.5rem;
  }

  #overview p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  #overview {
    padding: 6rem 1.5rem 4rem 1.5rem;
  }
}

.wrapper header {
  margin-bottom: 4em;
}

code {
  font-family: "Courier New", "Calibri", "Ubuntu Mono", "Menlo", monospace;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem;
}

pre {
  border: solid 1px #dbdbdb;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", "Calibri", "Ubuntu Mono", "Menlo", monospace;
  font-size: 1rem;
  margin: 0 0 2rem 0;
}

.item {
  margin: 1rem;
}

.content {
  border-bottom: 1px solid grey;
}

.content header h2 {
  color: #0d6efd;
}

.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

		.flex.flex-2 article {
			width: 47%;
		}

		.flex.flex-3 article {
			position: relative;
			width: 28%;
		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

		.flex.flex-4 .box {
			width: 21%;
		}

		@media screen and (max-width: 980px) {

			.flex.flex-2 article {
				width: 100%;
				margin-bottom: 3em;
			}

				.flex.flex-2 article:last-child {
					margin-bottom: 0;
				}

			.flex.flex-3 {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.flex.flex-3 article {
					width: 100%;
					border-bottom: 1px solid #dbdbdb;
					padding-bottom: 2.5em;
					margin-bottom: 3em;
				}

					.flex.flex-3 article:last-child {
						border: none;
						padding-bottom: 0;
						margin: 0 0 1em 0;
					}

					.flex.flex-3 article:before {
						display: none;
					}

			.flex.flex-4 .box {
				width: 47%;
			}

		}

		@media screen and (max-width: 480px) {

			.flex.flex-4 .box {
				width: 100%;
			}

		}
